*
  font-family: 'Open Sans', sans-serif
span.x-icon
  width: 24px
  display: block
  line-height: 0
.space-mono
  font-family: 'Space Mono'

/** elements */
.small-note,
small
  font-size: var(--small-size)
  font-weight: normal

/** on home page */
#main-container
  aside
    #links
      a.actived,
      a:hover
        &::before
          content: '>>>'
          display: inline-block
          margin-right: 12px
        @media(min-width: 1024px)
          border-bottom: 2px solid white
          &::before
            display: none

#content
  &:not(.is-main)
    max-width: 860px
    padding: 28px
#menu-toggle
  #btn-
    &settings,
    &menu,
    &up
      grid-row-end: 3
    &menu,
    &up
      grid-column-end: 3
    &up
      @media (max-width: 1024px)
        grid-row-end: 2
