*
  font-family: 'Open Sans', sans-serif
span.x-icon
  width: 24px
  display: block
  line-height: 0
.space-mono
  font-family: 'Space Mono'

/** elements */
.small-note,
small
  font-size: var(--small-size)
  font-weight: normal

%link-arrow
  @media(min-width: 1024px)
    border-bottom: 2px solid white
  &::before
    content: '>>>'
    display: none
    margin-right: 12px
/** on home page */
#main-container
  display: grid
  background: var(--bg-100)
  aside
    position: fixed
    top: 0
    left: 0
    right: 0
    display: grid
    grid-template-columns: 1fr auto 1fr
    height: 54px
    h2
      font-size: var(--middle-text-size)
    #cb-menu
      display: none
    background: var(--primary-300)
    color: var(--text-100)
    #links
      a.actived
        @extend %link-arrow
      a
        display: grid
        grid-template-columns: auto auto
        justify-content: space-between
        align-items: center
        text-transform: uppercase
        padding: 6px 8px
        color: var(--text-100)
        text-decoration: none
        border: 1px solid var(--primary-300)
        &:hover
          text-decoration: none
          @extend %link-arrow

#content
  &:not(.is-main)
    max-width: 860px
    padding-bottom: 120px
    box-sizing: border-box
    padding: 28px
  p:first-of-type
    margin-bottom: 24px
  h3
    margin-top: 24px
  #stack
    h3
      margin-top: 0

#menu-toggle
  padding: 12px 16px
  #nav-options
    display: grid
    grid-template-columns: repeat(2, 48px)
    grid-template-rows: repeat(2, 48px)
    justify-items: center
    align-items: center
    gap: 8px
    position: fixed
    bottom: 20px
    right: 20px
  .btn-option
    display: grid
    place-content: center
    background: var(--btn-bg)
    color: var(--btn-text)
    padding: 8px
    width: 48px
    height: 48px
    box-sizing: border-box
    span.x-icon
      fill: var(--btn-text)
  #btn-
    &settings,
    &menu,
    &up
      grid-row-end: 3
    &menu,
    &up
      grid-column-end: 3
    &menu
      display: none
@media (max-width: 1024px)
  #content-page
    width: 100vw
  #menu-toggle
    padding-right: 20px
    padding-bottom: 20px
    #btn-
      &up
        grid-row-end: 2
      &menu
        display: grid
  #main-container
    grid-template-columns: 0 auto
    aside
      display: flex
      flex-direction: column-reverse
      position: fixed
      overflow: hidden
      width: 0
      height: 100%
      transition: width 0.2s ease-in-out
      white-space: nowrap
      h2
        height: 48px
        align-content: center
      #links
        a
          display: inline-block
          padding: 20px
          &::before
            display: inline-block !important
          &::after
            display: none !important
    aside:has(#cb-menu:checked)
      width: 100vw
      z-index: 1
      #btn-up
        display: none

