<div class="grid-12 narrow yt-content">

    {% if include.id != 'coming-soon' %}
    <div class="col-all yt-video">
        <div class="embed-container">
            <div id="video" data-id="{{ include.id }}"></div>
        </div>
    </div>
    {% else %}
    <img class="col-all coming" src="https://ik.imagekit.io/0l9xz00bkkiqh/coming-soon_B1YajCPmV.jpeg" alt="Ups!">
    {% endif %}

    <div class="col-all yt-share">
    </div>
    <div class="grid-1 col-all yt-buttons">
        <div class="yt-btn me-center" id="youtube"></div>
    </div>
</div>
