<footer class="grid-12 col-12">
    <div class="col-12-until-tablet col-4-from-desktop narrow">
        <div class="col-all section">Stix Code:</div>
        <div class="line"></div>
        <div class="col-all content">
            Es un pequeño projecto donde expresaré todos mis conocimientos sobre el mundo de la programación
        </div>
    </div>
    <div class="offset-1 hide-until-tablet"></div>
    <div class="col-12-until-tablet col-3-from-desktop narrow">
        <div class="col-all section">Proyectos:</div>
        <div class="line"></div>
        <div class="col-all content">
            <div class="col-all"><a href="#">Stix GRID</a></div>
            <div class="col-all"><a href="#">Powerline Xonsh</a></div>
            <div class="col-all"><a href="#">Theme Stix</a></div>
        </div>
    </div>
    <div class="col-1 hide-until-tablet"></div>
    <div class="col-12-until-tablet col-3-from-desktop narrow">
        <div class="col-all section">Social:</div>
        <div class="line"></div>
        <div class="col-all content">
            <ul class="list-group no-hover">
                <li class="icon24">
                    <a href="{{ site.github }}" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="icon24">
                    <a href="{{ site.youtube }}" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li class="icon24">
                    <a href="{{ site.twitter }}" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div id="all" class="col-all">
    Creado por <a href="{{ site.github }}">@ErickTucto</a> con <a href="https://github.com/ErickTucto/stix-grid" target="_blank">Stix GRID</a>
</div>