<footer class="col-all grid-12">
    <div class="col-4 narrow">
        <div class="col-all section">Stix Code:</div>
        <div class="line"></div>
        <div class="col-all content">
            Es un pequeño projecto donde expresaré todos mis conocimientos sobre el mundo de la programación
        </div>
    </div>
    <div class="offset-1"></div>
    <div class="col-3 narrow">
        <div class="col-all section">Proyectos:</div>
        <div class="line"></div>
        <div class="col-all content">
            <div class="col-all"><a href="#">Stix GRID</a></div>
            <div class="col-all"><a href="#">Powerline Xonsh</a></div>
            <div class="col-all"><a href="#">Theme Stix</a></div>
        </div>
    </div>
    <div class="offset-2"></div>
    <div class="col-2 narrow">
        <div class="col-all section">Social:</div>
        <div class="line"></div>
        <div class="col-all content">
            <ul class="list-group no-hover">
                <li class="icon24">
                    <a href="#" target="_blank">
                    <!-- <a href="{{ site.github }}" target="_blank"> -->
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="icon24">
                    <a href="#" target="_blank">
                    <!-- <a href="{{ site.youtube }}" target="_blank"> -->
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li class="icon24">
                    <a href="#" target="_blank">
                    <!-- <a href="{{ site.twitter }}" target="_blank"> -->
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div id="all" class="col-all">
    Todos los derechos reservados
</div>