<footer class="py-[36px] px-[20px] border-t-1 border-(--bg-300)">
  <div class="flex justify-around flex-col min-[1212px]:flex-row gap-8">
    <form id="loginform" class="grid items-center justify-center">
      <div class="flex">
        <input type="email" required placeholder="Ingresa tu email" name="email" aria-label="Ingresa tu email para iniciar sesión" class="bg-white px-2 py-1 h-[40px] border-1 border-(--bg-300)"/>
        <button class="btn-primary">Ingresar</button>
      </div>
    </form>
    <div class="min-w-[200px]">
      <h2 class="border-b-1 border-(--bg-300) pb-2 mb-2"><strong>Proyectos</strong></h2>
      <ul>
        {% for project in site.projects %}
          {% capture url %}/projects/{{ project.slug }}{% endcapture %}
          <li><a class="text-primary-100 hover:underline" href="{{ url }}">{{ project.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h2 class="border-b-1 border-(--bg-300) pb-2 mb-2"><strong>Contacto</strong></h2>
      <ul>
        <li><strong>Correo:</strong> <a class="text-primary-100 hover:underline" href="mailto:erick@ericktucto.com">erick@ericktucto.com</a></li>
      </ul>
    </div>
    <div class="flex gap-2 mt-4">
      <a href="{{ site.github }}" class="size-[36px] grid items-center justify-center border-1 border-(--bg-300) rounded-full">
        <span class="x-icon text-center" data-icon="github" data-size="16px"></span>
      </a>
      <a href="{{ site.youtube }}" class="size-[36px] grid items-center justify-center border-1 border-(--bg-300) rounded-full">
        <span class="x-icon text-center" data-icon="youtube" data-size="16px"></span>
      </a>
      <a href="{{ "/feed.xml" | absolute_url }}" class="size-[36px] grid items-center justify-center border-1 border-(--bg-300) rounded-full">
        <span class="x-icon text-center" data-icon="rss" data-size="16px"></span>
      </a>
    </div>
  </div>
</footer>
