<div id="nav" class="grid-3-auto narrow content-between col-12">
    <div class="col-1-from-desktop col-3-until-tablet">
        <div id="menu" class="icon24 hide-from-desktop">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <tab-group>
      <tab-link ref="{{ "/" | relative_url }}">Historia</tab-link>
      <tab-link ref="{{ "/series" | relative_url }}">Series</tab-link>
      <tab-link ref="{{ "/projects" | relative_url }}">Proyectos</tab-link>
      <tab-link ref="{{ "/categories" | relative_url }}">Categorias</tab-link>
    </tab-group>
    <social-header>
      <social-link class="icon24" ref="{{ site.github }}">
        <i class="fab fa-github"></i>
      </social-link>
      <social-link class="icon24" ref="{{ site.youtube }}">
        <i class="fab fa-youtube"></i>
      </social-link>
      <social-link class="icon24" ref="{{ site.twitter }}">
        <i class="fab fa-twitter"></i>
      </social-link>
    </social-header>
</div>
