.card__container
  width: 400px
  box-shadow: 4px 4px 8px #aaaaaa
  border-radius: 0.8em
  .card__date
    border-radius: 0.8em 0.8em 0 0
    color: white
    background: $purple
    padding: 8px
    font-size: 16px
    text-transform: uppercase
  .card__image
    width: 400px
    height: 225px
    background-size: contain
    background-repeat: no-repeat
  .card__data
    background-color: white
    grid-template-rows: [start] 48px auto [end]
    border-radius: 0 0 0.8em 0.8em
    .card__title
      display: grid
      grid-template-columns: auto 40px
      padding: 12px 16px
      i
        font-size: 24px
    .card__description
      display: none
      padding: 16px
      .description__sms
      .description__readmore
        padding: 8px 12px
        color: $purple
        border: solid 2px $purple
        background: white
        text-decoration: none
        &:hover
          color: white
          background: $purple

.show__data
  .card__image
    height: 0
  .card__data
    height: 273px
    .card__description
      display: grid
      height: 100%
      align-content: space-between

@media (max-width: 420px)
  .card__container
    width: 300px
    .card__image
      width: 300px
      height: 168.75px
    .card__data
      height: 273px
      .card__description
        display: grid
        height: 100%
        align-content: space-between
        .description__readmore
          color: white
          background: $purple
