.card__container
  position: relative
  margin: 24px

.card__date
  position: absolute
  color: white
  background: $purple
  padding: 14px
  text-align: center
  text-transform: uppercase
  .card__day
    font-size: 20px
  .card__month, .card__year
    font-size: 12px

.card__image
  width: 426px
  height: 240px
  background-size: cover
  background-position: center

.card__data
  position: absolute
  width: 100%
  height: 100%
  align-items: end
  overflow: hidden
  transition: 2s
  .data_contain
    background: white
    .card__description
      display: none
      grid-template: auto 36px / auto 120px auto
      grid-gap: 10px
      padding-top: 0
      .description__sms
        grid-column: 1 / -1
      .description__readmore
        grid-column: 2 / 3
        color: white
        background: $purple
        text-decoration: none
    &:hover .card__description
        display: grid

$desktop: map-get($viewports, "desktop")
$minViewport: map-get($desktop, "min")
@media (min-width: $minViewport)
  .date
    padding: 10px
