#menu
  color: white
  padding: 20px
  font-size: 32px

#nav
  position: fixed
  z-index: 10
  width: 100%

#links
  text-align: center
  font-size: 16px
  a
    padding: 24px 8px
    color: $purple
    text-decoration: none
    span
      padding: 8px 12px
    .active, span:hover
      background: $purple
      border-radius: 4px
      color: white

#social-header
  a, a:hover
    color: $purple
  div
    padding: 0

@media (min-width: 1024px)
  #links
    width: 720px
  #social-header
    width: 240px

@media (max-width: 1024px)
  #social-header
    height: 83px
    align-self: end

