#nav
  position: fixed
  z-index: 10
  width: 100%

#links
  width: 720px
  text-align: center
  font-size: 16px
  a
    padding: 24px 8px
    color: $purple
    text-decoration: none
    .active, span:hover
      background: $purple
      padding: 8px 12px
      border-radius: 4px
      color: white

#social-header
  width: 240px
  a, a:hover
    color: $purple
  div
    padding: 0
