figure.highlight
  line-height: 1.6em
  font-size: .9em
  font-family: OfficeCodePro
  pre
    overflow: auto
blockquote
  margin: 0
  padding: 0 32px
  margin-bottom: 16px
  border-left: 4px solid #dfe2e5
blockquote p
  color: #6a737d
code.highlighter-rouge
  background: #ECEEED
  color: #f4645f
  padding: 1px 5px
  box-shadow: 0 1px 1px rgba(0,0,0,.125)
  