@import "libs/stix-grid/sass/config/_variables"
@import "partials/cards"

#header
  height: 720px
  position: relative
  background: url(https://ik.imagekit.io/0l9xz00bkkiqh/header_Sk8m1kuX4.png) no-repeat
  background-size: cover
  background-position: center top
  padding: 0
  .unsplash
    background: black
    color: white
    position: absolute
    bottom: 0

#content
  background: #E0E0E0
  padding: 24px 0
#history
  padding: 24px 0
