$white: white
$purple-dark: #5d5d5d


#links
  tab-link
    padding: 24px 8px

@media (min-width: 1024px)
  #social-header
    width: 240px

@media (max-width: 1024px)
  #social-header
    height: 83px
    align-self: end
