@import "base/pygments"
@import "base/markdown"
@import "base/clipboardjs"
@import "plugins/youtube"

@media(min-width: 1024px)
  #content
    display: grid
    justify-content: center
    article
      width: 1024px

#user-data
  margin-bottom: 12px
  .profile
    display: grid
    grid-template-columns: 48px auto
    grid-template-rows: 24px 24px
    column-gap: 8px
    img
      width: 48px
      height: 48px
      object-fit: cover
      border-radius: 50%
      grid-column-end: 2
    small
      grid-column-start: 2
#post
  width: 100%
  line-height: 1.5
  .post-header
    margin-bottom: 12px
  .post-image
    img
      width: 100%
  .post-body
    p:nth-child(1)
      margin-bottom: var(--br-margin-x)
      font-weight: bold

#tags
  font-size: var(--paragraph-size)
  .tag
    color: var(--primary-100)
    padding: 1px 5px
    margin-right: 1em
