---
---

@import "libs/stix-grid/sass/_stix-grid"
@import "syntax"
@import "btn-clipboardjs"
@import "markdown"
@import "post"

.nav-bar
  font-size: 16px
  background: $purple-dark
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5)
  position: fixed
  top: 0
  width: 100%
  z-index: 100
  img
    background-image: linear-gradient($green, $green-light), radial-gradient(circle at bottom right, $green, $green-light)

#content
  padding: 0
  background: #F0F0F0
  margin-top: 64px

.date
  margin-right: 24px
  margin-top: 8px
  width: 72px
  height: 72px
  padding: 0
  border-radius: 50%
  background: $purple
  color: $white
  text-align: center
  font-weight: bold
  font-size: 18px
  
.post
  border-radius: 5px
  background: $white
  box-shadow: 0 0 25px rgba(0,0,0,.2)
  .title
    font-size: 2rem
    padding-bottom: 10px
    a
      color: $purple
  .grid-1
    width: 100wh
  .grid-5
    background: goldenrod
footer
  color: $white
  background: #333333

@media (max-width: 768px)
  .nav-bar
    button.close
      padding: 8px 12px
      margin-right: 8px
      background-color: transparent
      font-size: 1.5rem
      color: $purple-light
      border: 2px solid $purple-light
      border-radius: 4px

footer
  .content
    padding-left: 8px
    padding-top: 8px
    .col-all
      padding-bottom: 16px
#all
  color: $white
  background: $purple-dark
