$component: "nav-bar, :host"
#{$component}
  display: grid
  grid-template-columns: [start] repeat(3, auto) [end]
  justify-content: space-between
  background-color: #AC4CFF
  position: fixed
  z-index: 10
  top: 0
  width: 100%
  padding: 0
