$component: "tab-link, :host"
#{$component}
  display: grid
  grid-template: 1fr
  align-items: center
  justify-items: stretch
  text-align: center
  a
    font-size: 16px
    padding: 8px 0
    border-radius: 4px
    color: white
    text-decoration: none
  a:hover, a.active
    background-color: white
    color: #AC4CFF
