---
---

@import "sass/_stix-grid"

.nav-bar
  border-bottom: 1px solid #BFBFBF
  background: linear-gradient(#E6E6E6, white, #E6E6E6)
header
  background: aqua
nav
  background: teal

#content
  background: goldenrod
  height: 100vh
footer
  color: white
  background: #333333

@media (max-width: 768px)
  .nav-bar
    button.close
      padding: 8px 12px
      background-color: transparent
      border: 0
      -webkit-appearance: none
      font-size: 1.5rem
      font-weight: 700
      line-height: 1
      color: #000
      text-shadow: 0 1px 0 #fff
      opacity: .5
// .img
  // &:after
  //   content: ""
  //   width: 3px
  //   height: 3px
  //   background: purple
