<div class="data">
    <i class="fas fa-user"></i> Autor: {{ site.author }}
</div>
<div class="data">
    <i class="fas fa-calendar-alt"></i> Publicado: {{ page.date | date: "%m-%d-%Y"}}
</div>
<div class="data">
    <i class="fas fa-calendar-alt"></i> Actualizado: {{ page.dateModified }}
</div>
{% if page.videoId != 'coming-soon' %}
<div class="data">
    <a href="https://www.youtube.com/watch?v={{ page.videoId }}" target="_blank">
        <i class="fab fa-youtube"></i>
    </a>
</div>
{% endif %}
