---
layout: default
---

<nav class="nav-bar">
    <button type="button" class="close">&times;</button>
    <div class="left">
        <div class="img img-48-48 img-circle">
            <img src="/assets/images/perfil.jpeg" alt="Ups!" class="warning">
        </div>
    </div>
    <div class="center">
        <ul class="list">
            <li><a>Inicio</a></li>
            <li><a>Articulos</a></li>
            <li><a>Proyectos</a></li>
            <li><a>Sobre Me</a></li>
        </ul>
    </div>
    <div class="right">Este es mi github</div>
</nav>

<div id="content" class="col-all">
    {{ content }}
</div>
<footer class="col-all">Todos los derechos reservados</footer>