---
layout: default
---

<div id="content" class="grid-12 col-12-from-mobile narrow">
    <div class="offset-1 hide-until-mobile"></div>
    <div id="post" class="col-12-until-mobile col-10-from-tablet h-center">
        <div class="post-header">
            <div class="post-title">{{ page.title }}</div>
            <div class="post-data">{% include templates/post/data.html %}</div>
            <div id="tags">
                {% for tag in page.tags %}
                    <a href="https//google.com" class="tag">#{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="post-body">
            {{ content }}
        </div>
        <div class="post-footer"></div>
    </div>
</div>
{% include templates/post/json-ld.html %}
