---
layout: default
---
<div id="content" class="grid-12 col-12-from-mobile narrow">
  <article>
    <div id="user-data">
      <div class="profile">
        <img
          src="{{ '/assets/img/profile.jpg' | relative_url }} "
          alt="una foto de @ericktucto sosteniendo unos cubos rubik"
        />
        <strong>Erick Tucto</strong>
        <small>{{ page.date | date: "%m-%d-%Y" }}</small>
      </div>
    </div>
    <div id="post" class="col-12-until-mobile col-10-from-tablet h-center">
        <div class="post-header">
            <h1>{{ page.title }}</h1>
            <div id="tags">
                {% for tag in page.categories %}
                    <a href="https//google.com" class="tag">#{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="post-image"><img src="{{ page.image }}" alt="imagen del post" /></div>
        <div class="br-bg"></div>
        <div class="post-body">
            {{ content }}
        </div>
        <div class="post-footer"></div>
    </div>
  </article>
</div>
<script src="{{ "/assets/js/post.js" | relative_url }}"></script>
<link rel="stylesheet" href="{{ "/assets/css/post.css" | relative_url }}">
{% include templates/post/json-ld.html %}
